body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-header {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}
.text-center {
  text-align: center;
}
